<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Angular JS 09 </title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<body>
    <h1> AngularJS Select Boxes </h1>
    <p>AngularJS lets you create dropdown lists based on items in an array, or an object.</p>

    <h3>1 - Creating a Select Box Using ng-options</h3>
    <div ng-app="myApp" ng-controller="myCtrl">

    <select ng-model="selectedName" ng-options="x for x in names">
    </select>
    </div>

    <script>
    var app = angular.module('myApp', []);
    app.controller('myCtrl', function($scope) {
        $scope.names = ["Emil", "Tobias", "Linus"];
    });
    </script>

    <p>This example shows how to fill a dropdown list using the ng-options directive.</p>

    <h3> 2 - ng-options vs ng-repeat</h3>
    <p>You can also use the ng-repeat directive to make the same dropdown list:</p>

    <div ng-app="myApp" ng-controller="myCtrl">

    <select>
    <option ng-repeat="x in names">{{x}}</option>
    </select>
    </div>

    <script>
    var app = angular.module('myApp', []);
    app.controller('myCtrl', function($scope) {
        $scope.names = ["Emil", "Tobias", "Linus"];
    });
    </script>

    <p>This example shows how to fill a dropdown list using the ng-repeat directive.</p>

    <h3> 3 - What Do I Use?</h3>
    <p>You can use both the ng-repeat directive and the ng-options directive</p>

    <p>Using ng-repeat:</p>

    <div ng-app="myApp" ng-controller="myCtrl">

    <p>Select a car:</p>
        
    <select ng-model="selectedCar">
    <option ng-repeat="x in cars" value="{{x.model}}">{{x.model}}</option>
    </select>
    <h1>You selected: {{selectedCar}}</h1>
    </div>

    <script>
    var app = angular.module('myApp', []);
    app.controller('myCtrl', function($scope) {
        $scope.cars = [
            {model : "Ford Mustang", color : "red"},
            {model : "Fiat 500", color : "white"},
            {model : "Volvo XC90", color : "black"}
        ];
    });
    </script>

    <p>When you use the ng-repeat directive to create dropdown lists, the selected value must be a string.</p>
    <p>In this example you will have to choose between the color or the model to be your selected value.</p>

    <h3> 4 - Using ng-repeat as an object:</h3>

    <div ng-app="myApp" ng-controller="myCtrl">

    <p>Select a car:</p>
    <select ng-model="selectedCar">
    <option ng-repeat="x in cars" ng-value="{{x}}">{{x.model}}</option>
    </select>
        
    <h1>You selected a {{selectedCar.color}} {{selectedCar.model}}</h1>
    </div>

    <script>
    var app = angular.module('myApp', []);
    app.controller('myCtrl', function($scope) {
        $scope.cars = [
            {model : "Ford Mustang", color : "red"},
            {model : "Fiat 500", color : "white"},
            {model : "Volvo XC90", color : "black"}
        ];
    });
    </script>

    <p>When you use the ng-repeat directive to create dropdown lists, the selected value must be a string.</p>
    <p>In this example you will have to choose between the color or the model to be your selected value.</p>





    
</body>
</html>